.changeToBlue
{
	color: blue;
}

.large
{
	font-size: 2em;
}
.border
{
	border: 1px solid red;
	width: 20%;
}
.rounded
{
	border-radius: 20px;
}

/* The first section's text should be bold.*/
.article-section:nth-of-type(1)
{
	font-weight: 900;
}
/*The last section's text should be bold and italicized.*/
.article-section:nth-of-type(6)
{
	font-weight: 900;
	font-style: italic;
}

 /*Make the buttons stop appearing next to each other as inline elements. Change them into block elements.*/
button
{
	display: block;
}